@{
    //ViewData["Title"] = "Home Page";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Miguel Soriano</title>
    <meta name="title" content="Miguel Soriano">
    <meta name="author" content="Miguel Soriano">
    <meta name="description" content="Miguel Soriano - Software Engineer, Senior C# .NET Developer, Actor de Teatro, Televisión y Cine">
    <meta name="keywords" content=".Net Developer, C# Developer, Net Core, Software Engineer, Azure, MSSQL, Actor, Teatro, Obras, Locuciones, Peliculas, Cortos, Televisión, Cine, Lima, Perú">

    <meta property="og:site_name" content="Tu Escena Online" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.miguelsoriano.com/" />
    <meta property="og:title" content="Miguel Soriano" />
    <meta property="og:description" content="Miguel Soriano - Software Engineer, Senior C# .NET Developer, Actor de Teatro, Televisión y Cine" />
    <meta property="og:image" content="https://www.miguelsoriano.com/assets/img/actor-profile-img.jpg" />

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: iPortfolio
    * Updated: May 30 2023 with Bootstrap v5.3.0
    * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= MainScreen Section ======= -->
    <section id="mainscreen" class="d-flex flex-column justify-content-center align-items-center">
        <div class="mainscreen-container" data-aos="fade-in">
            <h1>Miguel Soriano</h1>
            <p>I'm <span class="typed" data-typed-items="Software Engineer, Actor"></span></p>
            <div style="position: relative;" class="text-center">
                <a href="/systemsengineer" class="btn btn-light btn-lg rounded-pill px-3 mr-5">Software Engineer</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/actor" class="btn btn-light btn-lg rounded-pill px-3 ml-5">Actor</a>
            </div>
        </div>
    </section>
    <!-- End Hero -->

    <!-- Vendor JS Files -->
    <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/typed.js/typed.umd.js"></script>
    <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>

</body>

</html>