<section id="locuciones" class="portfolio section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Locuciones</h2>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

            <div class="col-lg-6 col-md-6 portfolio-item filter-app">
                <div>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/JXacRaaxlHc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 portfolio-item filter-app">
                <div>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/HqusJaTwyBM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 portfolio-item filter-app">
                <div>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/W8vBH-EPklU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>

        </div>

    </div>
</section>