<section id="locuciones" class="portfolio section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Locuciones</h2>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-6 col-md-6 portfolio-item filter-app">
                <div>
                    <script>!function (e, t, i) { if (void 0 === e._dyntube_v1_init) { e._dyntube_v1_init = !0; var a = t.createElement("script"); a.type = "text/javascript", a.async = !0, a.src = "https://embed.dyntube.com/v1.0/dyntube.js", t.getElementsByTagName("head")[0].appendChild(a) } }(window, document);</script><div data-dyntube-key="Kq4slF9rO0qJcUmG9WwR4A"></div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 portfolio-item filter-app">
                <div>
                    <script>!function (e, t, i) { if (void 0 === e._dyntube_v1_init) { e._dyntube_v1_init = !0; var a = t.createElement("script"); a.type = "text/javascript", a.async = !0, a.src = "https://embed.dyntube.com/v1.0/dyntube.js", t.getElementsByTagName("head")[0].appendChild(a) } }(window, document);</script><div data-dyntube-key="wXBajBRxNEaVMReNwD9ndQ"></div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 portfolio-item filter-app">
                <div>
                    <script>!function (e, t, i) { if (void 0 === e._dyntube_v1_init) { e._dyntube_v1_init = !0; var a = t.createElement("script"); a.type = "text/javascript", a.async = !0, a.src = "https://embed.dyntube.com/v1.0/dyntube.js", t.getElementsByTagName("head")[0].appendChild(a) } }(window, document);</script><div data-dyntube-key="4KOInXXajESU5LIKmYQ1hg"></div>
                </div>
            </div>
        </div>

    </div>
</section>