<section id="portfolio" class="portfolio section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Fotos</h2>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="assets/img/photos/photo-1.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="assets/img/photos/photo-1.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Foto 1"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="assets/img/photos/photo-2.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="assets/img/photos/photo-2.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Foto 2"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="assets/img/photos/photo-3.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="assets/img/photos/photo-3.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Foto 3"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="assets/img/photos/photo-4.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="assets/img/photos/photo-4.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Foto 4"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="assets/img/photos/photo-5.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="assets/img/photos/photo-5.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Foto 5"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="assets/img/photos/photo-6.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="assets/img/photos/photo-6.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Foto 6"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="assets/img/photos/photo-7.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="assets/img/photos/photo-7.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Foto 7"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="assets/img/photos/photo-8.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="assets/img/photos/photo-8.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Foto 8"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="assets/img/photos/photo-9.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="assets/img/photos/photo-9.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Foto 9"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>