<section id="posters" class="portfolio section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Posters</h2>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

            <div class="col-lg-3 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="assets/img/posters/00.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="assets/img/posters/00.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Foto 1"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="assets/img/posters/01.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="assets/img/posters/01.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Foto 1"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="assets/img/posters/02.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="assets/img/posters/02.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Foto 1"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="assets/img/posters/03.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="assets/img/posters/03.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Foto 1"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="assets/img/posters/04.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="assets/img/posters/04.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Foto 2"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="assets/img/posters/05.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="assets/img/posters/05.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Foto 3"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="assets/img/posters/06.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="assets/img/posters/06.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Foto 4"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="assets/img/posters/08.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="assets/img/posters/08.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Foto 5"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="assets/img/posters/09.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="assets/img/posters/09.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Foto 6"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="assets/img/posters/10.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="assets/img/posters/10.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Foto 7"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="assets/img/posters/11.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="assets/img/posters/11.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Foto 8"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="assets/img/posters/12.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="assets/img/posters/12.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Foto 9"><i class="bx bx-plus"></i></a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>