<section id="resume" class="resume">
    <div class="container">

        <div class="section-title">
            <h2>Formación y Experiencia</h2>
        </div>

        <div class="row">
            <div class="col-lg-6" data-aos="fade-up">
                <h3 class="resume-title">Formación Académica</h3>
                <div class="resume-item pb-0">
                    <h4>Taller Actuar en Cine y TV con Wendy Vázquez</h4>
                    <h5>Agosto 2023</h5>
                    <p><em>Schooling Films, Lima, Perú</em></p>
                </div>
                <div class="resume-item pb-0">
                    <h4>Taller de Actuación para Cine con Lucho Cáceres</h4>
                    <h5>Enero - Febrero 2020</h5>
                    <p><em>EPIC, Lima, Perú</em></p>
                </div>
                <div class="resume-item pb-0">
                    <h4>Taller de Actuación Avanzada con Juan Carlos Fisher</h4>
                    <h5>Mayo - Julio 2019</h5>
                    <p><em>Teatro La Plaza, Lima, Perú</em></p>
                </div>
                <div class="resume-item pb-0">
                    <h4>Taller de Formación Actoral de Leonardo Torres Vilar</h4>
                    <h5>Enero - Diciembre 2018</h5>
                    <p><em>Lima, Perú</em></p>
                </div>
                <div class="resume-item pb-0">
                    <h4>Taller de Formación Actoral de Mikhail Page</h4>
                    <h5>Febrero - Diciembre 2017</h5>
                    <p><em>Lima, Perú</em></p>
                </div>
                <div class="resume-item pb-0">
                    <h4>Taller Introductorio de Clown con Valeria Escandón</h4>
                    <h5>Octubre 2017</h5>
                    <p><em>Lima, Perú</em></p>
                </div>
                <div class="resume-item pb-0">
                    <h4>Taller Avanzado Shakespeare con Laura Silva</h4>
                    <h5>Agosto 2017</h5>
                    <p><em>Lima, Perú</em></p>
                </div>
                <div class="resume-item pb-0">
                    <h4>Taller Intermedio Shakespeare con Laura Silva</h4>
                    <h5>Abril 2017</h5>
                    <p><em>Lima, Perú</em></p>
                </div>
                <div class="resume-item pb-0">
                    <h4>Taller Montaje con Wendy Vázquez</h4>
                    <h5>Enero - Marzo 2017</h5>
                    <p><em>Teatro La Plaza, Lima, Perú</em></p>
                </div>
                <div class="resume-item pb-0">
                    <h4>Taller Introductorio a Stanislavski con Mikhail Page</h4>
                    <h5>Setiembre - Diciembre 2016</h5>
                    <p><em>Lima, Perú</em></p>
                </div>
                <div class="resume-item pb-0">
                    <h4>Taller de Formación Actoral de Roberto Ángeles</h4>
                    <h5>Enero - Julio 2016</h5>
                    <p><em>Lima, Perú</em></p>
                </div>
                <div class="resume-item pb-0">
                    <h4>Taller Montaje con Wendy Vázquez</h4>
                    <h5>Setiembre - Noviembre 2015</h5>
                    <p><em>Teatro la Plaza, Lima, Perú</em></p>
                </div>
                <div class="resume-item pb-0">
                    <h4>Taller de Actuación para No Actores con Wendy Vázquez</h4>
                    <h5>Mayo - Julio 2015</h5>
                    <p><em>Teatro la Plaza, Lima, Perú</em></p>
                </div>
            </div>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <h3 class="resume-title">Experiencia</h3>
                
                <h3 class="resume-title">Series</h3>
                <div class="resume-item">
                    <h4>Solamente Milagros - Quédate con Mamá</h4>
                    <h5>Mayo 2023</h5>
                    <p><em>Producciones Perfiles, Lima, Perú</em></p>
                </div>
                <div class="resume-item">
                    <h4>Solamente Milagros - Las Peperas</h4>
                    <h5>Octubre 2022</h5>
                    <p><em>Producciones Perfiles, Lima, Perú</em></p>
                </div>

                <br />
                <h3 class="resume-title">Películas</h3>
                <div class="resume-item">
                    <h4>Django – En el Nombre del Hijo</h4>
                    <h5>Noviembre 2019</h5>
                    <p><em>Lima, Perú</em></p>
                </div>

                <br />
                <h3 class="resume-title">Teatro Presencial</h3>
                <div class="resume-item">
                    <h4>A ver, un Aplauso</h4>
                    <h5>Noviembre 2023</h5>
                    <p><em>Teatro Conout, Lima, Perú</em></p>
                </div>
                <div class="resume-item">
                    <h4>Mañana me caso</h4>
                    <h5>Enero 2022</h5>
                    <p><em>Nuevo Teatro Julieta, Lima, Perú</em></p>
                </div>
                <div class="resume-item">
                    <h4>Contra Viento y Marea (Re estreno)</h4>
                    <h5>Febrero 2020</h5>
                    <p><em>Teatro Auditorio Miraflores, Lima, Perú</em></p>
                </div>
                <div class="resume-item">
                    <h4>Contra Viento y Marea</h4>
                    <h5>Noviembre 2019</h5>
                    <p><em>Teatro Auditorio Miraflores, Lima, Perú</em></p>
                </div>
                <div class="resume-item">
                    <h4>Escuela para Hombres</h4>
                    <h5>Setiembre 2019</h5>
                    <p><em>MicroTeatro, Lima, Perú</em></p>
                </div>
                <div class="resume-item">
                    <h4>Nos Volveremos a Encontrar</h4>
                    <h5>Julio 2019</h5>
                    <p><em>Teatro Auditorio Miraflores, Lima, Perú</em></p>
                </div>
                <div class="resume-item">
                    <h4>El Verano pasado en Chulimsk</h4>
                    <h5>Setiembre 2018</h5>
                    <p><em>Teatro Ensamble, Lima, Perú</em></p>
                </div>
                <div class="resume-item">
                    <h4>Nuestro Pueblo</h4>
                    <h5>Diciembre 2017</h5>
                    <p><em>Teatro de Lucia, Lima, Perú</em></p>
                </div>
                <div class="resume-item">
                    <h4>Adiós al Camino Amarillo</h4>
                    <h5>Noviembre 2017</h5>
                    <p><em>Teatro Galpón Espacio, Lima, Perú</em></p>
                </div>
            </div>
        </div>

    </div>
</section>