@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Miguel Soriano - Actor</title>
    <meta name="title" content="Miguel Soriano - Actor">
    <meta name="author" content="Miguel Soriano">
    <meta name="description" content="Miguel Soriano - Actor de Teatro, Televisión y Cine">
    <meta name="keywords" content="Actor, Teatro, Obras, Locuciones, Peliculas, Cortos, Televisión, Cine, Lima, Perú">

    <meta property="og:site_name" content="Tu Escena Online" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.miguelsoriano.com/actor" />
    <meta property="og:title" content="Miguel Soriano - Actor" />
    <meta property="og:description" content="Miguel Soriano - Actor de Teatro, Televisión y Cine" />
    <meta property="og:image" content="https://www.miguelsoriano.com/assets/img/actor-profile-img.jpg" />

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
</head>

<body>

    <!-- ======= Mobile nav toggle button ======= -->
    <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

    <!-- ======= Header ======= -->
    <header id="header">
        <div class="d-flex flex-column">

            <div class="profile">
                <a href="/"><img src="assets/img/actor-profile-img.jpg" alt="" class="img-fluid rounded-circle"></a>
                <h1 class="text-light"><a href="/">Miguel Soriano</a></h1>
                <div class="social-links mt-3 text-center">
                    <a href="https://www.facebook.com/miguelsorianooficial" target="_blank" class="facebook"><i class="bx bxl-facebook"></i></a>
                    <a href="https://www.instagram.com/miguel.mst/" target="_blank" class="instagram"><i class="bx bxl-instagram"></i></a>
                </div>
            </div>

            <nav id="navbar" class="nav-menu navbar">
                <ul>
                    <li><a href="#actor" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Inicio</span></a></li>
                    <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Acerca</span></a></li>
                    <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Formación y Experiencia</span></a></li>
                    <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bxs-image"></i> <span>Fotos</span></a></li>
                    <li><a href="#posters" class="nav-link scrollto"><i class="bx bxs-photo-album"></i> <span>Posters</span></a></li>
                    <li><a href="#videos" class="nav-link scrollto"><i class="bx bxs-video"></i> <span>Videos</span></a></li>
                    <li><a href="#locuciones" class="nav-link scrollto"><i class="bx bxl-audible"></i> <span>Locuciones</span></a></li>
                    <li><a href="/assets/pdf/CV_MiguelSoriano.pdf" download><i class="bx bx-download"></i> <span>Descargar</span></a></li>
                </ul>
            </nav><!-- .nav-menu -->
        </div>
    </header>
    <!-- End Header -->

    <!-- ======= Actor Section ======= -->
    <section id="actor" class="d-flex flex-column justify-content-center align-items-center">
        <div class="actor-container" data-aos="fade-in">
            <h1>Miguel Soriano</h1>
            <p>Actor de <span class="typed" data-typed-items="Teatro,Televisión y Cine"></span></p>
        </div>
    </section>
    <!-- End Actor -->


    <main id="main">
        <!-- ======= About Section ======= -->
        <partial name="_About" />
        <!-- End About Section -->

        <!-- ======= Resume Section ======= -->
        <partial name="_Resume" />
        <!-- End Resume Section -->

        <!-- ======= Portfolio Section ======= -->
        <partial name="_Portfolio" />
        <!-- End Portfolio Section -->

        <!-- ======= Portfolio Section ======= -->
        <partial name="_Posters" />
        <!-- End Portfolio Section -->

        <!-- ======= Videos Section ======= -->
        <partial name="_Videos" />
        <!-- End Videos Section -->

        <!-- ======= Videos Locuciones ======= -->
        <partial name="_Locuciones" />
        <!-- End Videos Locuciones -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
            <div class="copyright">
                &copy; @(DateTime.Now.Year) - <strong><span>Miguel Soriano</span></strong>
            </div>
        </div>
    </footer><!-- End  Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/typed.js/typed.umd.js"></script>
    <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>

</body>

</html>