<section id="resume" class="resume">
    <div class="container">

        <div class="section-title">
            <h2>Resume</h2>
        </div>

        <div class="row">
            <div class="col-lg-6" data-aos="fade-up">
                <h3 class="resume-title">Certifications</h3>
                <div class="resume-item pb-0">
                    <h4>Azure Fundamentals</h4>
                    <h5>2023</h5>
                    <p><em>New Horizons, Lima, Perú</em></p>
                </div>
                <div class="resume-item pb-0">
                    <h4>Certified Scrum Master</h4>
                    <h5>2014</h5>
                    <p><em>Hubert Smits, Scrum Alliance</em></p>
                </div>
                <div class="resume-item pb-0">
                    <h4>MCTS: Net Framework 2.0, Web Applications</h4>
                    <h5>2008</h5>
                    <p><em>New Horizons, Lima, Perú</em></p>
                </div>

                <br />
                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>Computer Systems Engineer</h4>
                    <h5>2006</h5>
                    <p><em>Universidad Nacional Mayor de San Marcos, Lima, Perú</em></p>
                </div>
                <div class="resume-item">
                    <h4>Computer Science Bachelor</h4>
                    <h5>1999 - 2005</h5>
                    <p><em>Universidad Nacional Mayor de San Marcos, Lima, Perú</em></p>
                </div>

                <br />
                <h3 class="resume-title">Founder of</h3>
                <div class="resume-item">
                    <h4>Tu Escena Online</h4>
                    <h5>2022</h5>
                    <p><em>Cultural streaming platform to spread audiovisual and performing arts content</em></p>
                    <p><a href="https://www.tuescenaonline.com/" target="_blank">https://www.tuescenaonline.com/</a></p>
                </div>
                <div class="resume-item">
                    <h4>Pata Alerta</h4>
                    <h5>2021</h5>
                    <p><em>WebSite & App to help people to find their lost pets</em></p>
                    <p><a href="https://www.pataalerta.com/" target="_blank">https://www.pataalerta.com/</a></p>
                </div>
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item">
                    <h4>Senior .Net Developer</h4>
                    <h5>June 2023 - Current</h5>
                    <p><em>Alto, San Francisco, USA</em></p>
                </div>
                <div class="resume-item">
                    <h4>Senior .Net Developer</h4>
                    <h5>2021 - 2023</h5>
                    <p><em>WHIZ LATAM, Lima, Perú</em></p>
                    <ul>
                        <li>Analysis, Design, Development and Testing</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Senior Software Developer</h4>
                    <h5>2019 - 2021</h5>
                    <p><em>Globant, Lima, Perú</em></p>
                    <ul>
                        <li>Analysis, Design, Development and Testing</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Senior Software Developer</h4>
                    <h5>2013 - 2019</h5>
                    <p><em>Belatrix Software Factory, Lima, Perú</em></p>
                    <ul>
                        <li>Analysis, Design, Development and Testing</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>.Net Developer</h4>
                    <h5>2009 - 2013</h5>
                    <p><em>Chicago Code Monkeys, Lima, Perú</em></p>
                    <ul>
                        <li>Analysis, Design, Development and Testing</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Analyst & .Net Developer</h4>
                    <h5>2007 - 2009</h5>
                    <p><em>Nexogy SAC, Lima, Perú</em></p>
                    <ul>
                        <li>Analysis, Design, Development and Testing</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Support & Developer</h4>
                    <h5>2003 - 2007</h5>
                    <p><em>LDTelecom SAC, Lima, Perú</em></p>
                    <ul>
                        <li>Support / Helpdesk / Developer</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>